<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
	<title>Tem 2</title>
	<meta charset="UTF-8" />
	<meta name="title" content="Website Name">
	<meta name="description" content="Website description">
	<meta name="HandheldFriendly" content="true">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="image/x-icon" rel="shortcut icon" href="image/logo.png" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>

<body>


	<section class="first-section">
		<header>
			<div class="fullwidth">
				<div class="container">

					<div class="row">
						<div class="col left_top_header ">
							<div class="sub-left">
								<p>Any question?</p>
							</div>
							<div class="sub-left">
						
								<p class="qu">+124 12344567</p>
							</div>
							<div class="sub-left">
							
								<p class="qu">heelo@eduma.com</p>
							</div>
							<div class="sub-left">
								<p class="qu">Demo Account</p>
							</div>
						</div>

						<div class="col right_top_header">
							<ul>
								<li>
									<a href="#">Register</a>
								</li>
								<li>
									<a href="#">Login</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="main_header">
				<div class="container">
					<div class="row second">

						<div class="col header_left_col">
							<div class="logo_wrap">
								<img src="image/logo.png" alt="header" width="100px" height="100px" />
							</div>
						</div>
						<nav class="col header_right_col">
							<div class="menu-right">
								<ul>
									<li>
										<a href="#">Demos<i class="fa-solid fa-angle-down ms-1"></i></a>
									</li>
									<li>
										<a href="#">Courses<i class="fa-solid fa-angle-down ms-1"></i></a>
									</li>

									<li>
										<a href="#">Fetures<i class="fa-solid fa-angle-down ms-1"></i></a>
									</li>
									<li>
										<a href="#">Event</a>
									</li>
									<li>
										<a href="#">Galllery</a>
									</li>
									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Shop</a>
									</li>
									<li>
										<a href="#"><i class="fa-solid fa-search"></i></a>
									</li>
								</ul>
							</div>
						</nav>
					</div>

				</div>
			</div>
		</header>
		<section class="main">
			<div class="container">

				<p>Better education for better</p>
				<h2>World</h2>

				<div class="contact">
					<a href="" class="btn btn_orange">Buy eduma Now</a>
				</div>

				<div class="row">
					<div class="col top-slider">
						<div class="subpart">
							<div class="row">
								<div class="col partimagetext">
									<div class="subimage">
										<img src="image/logo-top-1.png" alt="">
									</div>
								</div>
								<div class="col parttext">
									<p>Learn Course<br /> Online</p>
									<div class="more">
										<a href="#">View More <i class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col top-slider">
						<div class="subpart">
							<div class="row">
								<div class="col partimagetext">
									<div class="subimage">
										<img src="image/logo-top-2.png" alt="">
									</div>
								</div>
								<div class="col parttext">
									<p>Learn Course <br />Online</p>
									<div class="more">
										<a>View More <i class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col top-slider">
						<div class="subpart">
							<div class="row">
								<div class="col partimagetext">
									<div class="subimage">
										<img src="image/logo-top-3.png" alt="">
									</div>
								</div>
								<div class="col parttext">
									<p>Learn Course<br /> Online</p>
									<div class="more">
										<a>View More <i class="fa-solid fa-chevron-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>


	<section class="coursesection">
		<div class="container">
			<div class="row">
				<div class="col left_top_header-cource">
					<h2>Popular Courses</h2>
				</div>
				<div class="col prenext">

					<a href="#"><i class="fa-solid fa-chevron-left"></i></a>
					<a href="#"><i class="fa-solid fa-chevron-right"></i></a>
				
				</div>
			</div>

			<div class="row">
				<div class="col sub-cource-col">
					<div class="subpart-cource">

						<div class="background-cource">
							<img src="image/course-1.jpg" alt="call" width="100px" height="100px">
							<div class="contact-hov">
								<a href="#" class="btn btn_hov">Buy eduma Now</a>
							</div>
						</div>
						<div class="imageman">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>

						<p>Keny white</p>
						<div class="info-python">
							<p>LMS Intractive Content Pythone</p>
						</div>


						<div class="row comment">
							<div class="col course-comment">
								<div class="sub-course-comment">


									<p><i class="fa-solid fa-location-dot"></i> 55</p>
									<p><i class="fa-solid fa-location-dot"></i> 55</p>
								</div>
							</div>
							<div class="col course-price">
								<p>Free</p>
							</div>
						</div>
					</div>

				</div>

				<div class="col sub-cource-col">
					<div class="subpart-cource">

						<div class="background-cource">
							<img src="image/course-1.jpg" alt="call" width="100px" height="100px">
							<div class="contact-hov">
								<a href="#" class="btn btn_hov">Buy eduma Now</a>
							</div>
						</div>
						<div class="imageman">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>

						<p>Keny white</p>
						<div class="info-python">
							<p>LMS Intractive Content Pythone</p>
						</div>


						<div class="row comment">
							<div class="col course-comment">
								<div class="sub-course-comment">


									<p><i class="fa-solid fa-location-dot"></i> 55</p>
									<p><i class="fa-solid fa-location-dot"></i> 55</p>
								</div>
							</div>
							<div class="col course-price">
								<p>Free</p>
							</div>
						</div>
					</div>

				</div>

				<div class="col sub-cource-col">
					<div class="subpart-cource">

						<div class="background-cource">
							<img src="image/course-1.jpg" alt="call" width="100px" height="100px">
							<div class="contact-hov">
								<a href="#" class="btn btn_hov">Buy eduma Now</a>
							</div>
						</div>
						<div class="imageman">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>

						<p>Keny white</p>
						<div class="info-python">
							<p>LMS Intractive Content Pythone</p>
						</div>


						<div class="row comment">
							<div class="col course-comment">
								<div class="sub-course-comment">


									<p><i class="fa-solid fa-location-dot"></i> 55</p>
									<p><i class="fa-solid fa-location-dot"></i> 55</p>
								</div>
							</div>
							<div class="col course-price">
								<p>Free</p>
							</div>
						</div>
					</div>

				</div>
				<div class="col sub-cource-col">
					<div class="subpart-cource">

						<div class="background-cource">
							<img src="image/course-1.jpg" alt="call" width="100px" height="100px">
							<div class="contact-hov">
								<a href="#" class="btn btn_hov">Buy eduma Now</a>
							</div>
						</div>
						<div class="imageman">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>

						<p>Keny white</p>
						<div class="info-python">
							<p>LMS Intractive Content Pythone</p>
						</div>


						<div class="row comment">
							<div class="col course-comment">
								<div class="sub-course-comment">


									<p><i class="fa-solid fa-location-dot"></i> 55</p>
									<p><i class="fa-solid fa-location-dot"></i> 55</p>
								</div>
							</div>
							<div class="col course-price">
								<p>Free</p>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="contact-cource">
				<a href="#" class="btn btn_cource">READ MORE</a>
			</div>

		</div>
		</div>
	</section>

	<section class="info-full">
		<div class="dark">
			<div class="container">
				<div class="row">
					<div class="register-left  col">

						<div class="freedays">
							<h4>Get 100s of online<span class="freecolor"> cources for free</span></h4>
							<h2>Register Now</h2>
							<div class="row">

								<div class="col social_text">
									<div class="register-under">
										<p class="count">67</p>
										<p class="days">Days</p>
									</div>

								</div>

								<div class="col social_text">
									<div class="register-under">
										<p class="count">67</p>
										<p class="days">Days</p>
									</div>
								</div>

								<div class="col social_text">
									<div class="register-under">
										<p class="count">67</p>
										<p class="days">Days</p>
									</div>
								</div>

								<div class="col social_text">
									<div class="register-under">
										<p class="count">67</p>
										<p class="days">Days</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="register-right col">


						<form action="#">
							<div class="register-now">
								<div class="ovl">
									<p>Create your free account now and get immendite acces to 100s online cources.
									</p>
								</div>
								<div class="user-reg">
									<div class="user-fill">
										<input type="text" placeholder="Your Name*" required="">
									</div>
									<div class="user-fill">
										<input type="text" placeholder="Email*" required="">
									</div>
									<div class="user-fill">
										<input type="tel" placeholder="Phone*" required="">
									</div>

									<div class="contact-regsiter">
										<a href="" class="btn btn-reg">Get it now</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="eventsection">
		<div class="container">
			<div class="row">
				<div class="event-top col">
					<h2>Events</h2>
					<p>Upcomming event to b free your brain.</p>
				</div>
				<div class="prenext col">
					<div class="allview">
						<a href="#">View All</a>
					</div>
				</div>
			</div>

			<div class="footer-bprder">
						
			</div>
			<div class="row">

				
				<div class="col event">
					<div class="sub-event">
						<p class="date">30</p>
						<p class="month">September</p>
					</div>
				</div>

				<div class="col event">
					<div class="sub-event">
						<p class="event-school-year">Summer school 2019</p>
						<div class="sub-course-event">
							<p><i class="fa-solid fa-location-dot"></i> 8:00-17:00</p>
							<p><i class="fa-solid fa-location-dot"></i> 8:00-17:00</p>
						</div>
						<div>
							<p class="description">Morbi accume inqum velle.nam yem Morbi accume inqum velle.nam yem
								Morbi accume inqum
								velle
							</p>
						</div>
					</div>
				</div>

				<div class="col event">
					<div class="sub-event">
						<div class="subimage-event">
							<img src="image/course-6.jpg" alt="">
						</div>
					</div>
				</div>
				</div>

				<div class="footer-bprder">
						
				</div>
				<div class="row">	
					
				<div class="col event">
					<div class="sub-event">
						<p class="date">30</p>
						<p class="month">September</p>
					</div>
				</div>

				<div class="col event">
					<div class="sub-event">
						<p class="event-school-year">Summer school 2019</p>
						<div class="sub-course-event">
							<p><i class="fa-solid fa-location-dot"></i> 8:00-17:00</p>
							<p><i class="fa-solid fa-location-dot"></i> 8:00-17:00</p>
						</div>
						<div>
							<p class="description">Morbi accume inqum velle.nam yem Morbi accume inqum velle.nam yem
								Morbi accume inqum
								velle
							</p>
						</div>
					</div>
				</div>

				<div class="col event">
					<div class="sub-event">
						<div class="subimage-event">
							<img src="image/course-6.jpg" alt="">
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</section>

	<section class="newssection">
		<div class="container">
			<div class="row">
				<div class="event-top news-top col">
					<h2>Latest News</h2>
					<p>Upcomming event to b free.</p>
				</div>
				<div class="prenext news-prev col">
					<a href="#"><i class="fa-solid fa-chevron-left"></i></a>
					<a href="#"><i class="fa-solid fa-chevron-right"></i></a>
					<!-- <span><i class="fa-solid fa-chevron-left"></i></span>
					<span><i class="fa-solid fa-chevron-right"></i></span> -->
				</div>
			</div>
			<div class="row">
				<div class="col news">
					<div class="subimage-news">
						<img src="image/blog-1.jpg" alt="">
					</div>
					<p class="news-person-name">HInta Huyga <span> . </span>20/10/2015</p>
					<p class="news-title-person">Admin eran scollership</p>
				</div>

				<div class="col news">
					<div class="subimage-news">
						<img src="image/blog-2.jpg" alt="">
					</div>
					<p class="news-person-name">HInta Huyga <span> . </span>20/10/2015</p>
					<p class="news-title-person">Admin eran scollership</p>
				</div>

				<div class="col news">
					<div class="subimage-news">
						<img src="image/blog-4.jpg" alt="">
					</div>
					<p class="news-person-name">HInta Huyga <span> . </span>20/10/2015</p>
					<p class="news-title-person">Admin eran scollership</p>
				</div>

			</div>
		</div>
	</section>

	<section class="peoplesection">
		<div class="container">
			<div class="row">
				<div class="event-top col popele-say">
					<h2>What People Say</h2>
					<p>How Peoplke see for woerdpress theme free</p>
				</div>
			</div>
			<div class="row">
				<div class="people-row">
					<div class="col photo-say">
						<div class="image-people">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>
					</div>
					<div class="col photo-say">
						<div class="image-people">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>
					</div>

					<div class="col photo-say">
						<div class="image-people">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>
					</div>

					<div class="col photo-say">
						<div class="image-people">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>
					</div>

					<div class="col photo-say">
						<div class="image-people">
							<img src="image/aa.jpg" alt="call" width="100px" height="100px">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>



	<section class="emailsection">
		<div class="container">
			<div class="row">
				<div class="col w-100">
					<div class="email-people">
						<p>Lorem ipsum dolor sit nisi tenetur disti eum sunt rem provident quidem eligendi dicta?m
							ipsum
							dolor sit nisi tenetur disti eum sunt rem pro
						</p>

						<div class="email-field ">
							<form action="#">
								<div class="btn-input">
									<div class="btn-inner-input">
										<input type="text" placeholder="email address ">
										<i class="fa-regular fa-envelope email-icon"></i>
									</div>
									<div class="send-email">
										<a href="#">Subscribe</a>

									</div>
								</div>

							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="bottom-info">
		<div class="container">
			<div class="row">

				<div class="bottom col">

					<div class="logo-bottom">
						<img src="image/logo.png" alt="logo" width="100px" height="100px" />
					</div>

					<div class="sub-bottom">
						<p><i class="fa-solid fa-phone"></i><span>&nbsp;&nbsp;0123456789 </span></p>
					</div>
					<div class="sub-bottom">
						<p><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp; hello@udma.com</p>
					</div>
					<div class="sub-bottom">
						<span><i class="fa-brands fa-facebook bottom-icon"></i></span>
						<span><i class="fa-brands fa-google-plus bottom-icon"></i></span>
						<span><i class="fa-brands fa-twitter bottom-icon"></i></span>
						<span><i class="fa-brands fa-twitter bottom-icon"></i></span>
					</div>
				</div>
				<div class="bottom-right col">

					<div class="row">
						<div class="bottom-right-link col">
							<p class="bottom-header">Company</p>

							<div class="bottom-ul">
								<ul>
									<li>
										<a href="#">About us</a>
									</li>

									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Teacher</a>
									</li>
								</ul>
							</div>

						</div>

						<div class="bottom-right-link col">
							<p class="bottom-header">Company</p>
							<div class="bottom-ul">
								<ul>
									<li>
										<a href="#">About us</a>
									</li>

									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Teacher</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="bottom-right-link col">
							<p class="bottom-header">Company</p>
							<div class="bottom-ul">
								<ul>

									<li>
										<a href="#">About us</a>
									</li>

									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Teacher</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="bottom-right-link col">
							<p class="bottom-header">Company</p>
							<div class="bottom-ul">
								<ul>
									<li>
										<a href="#">About us</a>
									</li>

									<li>
										<a href="#">Blog</a>
									</li>
									<li>
										<a href="#">Contact</a>
									</li>
									<li>
										<a href="#">Teacher</a>
									</li>
								</ul>
							</div>
						</div>
					</div>

				</div>


			</div>
		</div>
		<div class="container">
			<div class="footer-bprder">
					
			</div>
			<div class="row footer">
				
				<div class="footer-sub col">
					<p>Copyright @2018 | <span class="freecolor"> All Right </span> Reserved</p>
				</div>
				<div class="footer-sub-right col">
					<div class="footer-ul">
						<ul>
							<li>
								<a href="#">Privacy</a>
							</li>

							<li>
								<a href="#">Term</a>
							</li>
							<li>
								<a href="#">SiteMap</a>
							</li>
							<li>
								<a href="#">Purchase</a>
							</li>
						</ul>
					</div>


				</div>
			</div>
		</div>
	</footer>

</body>

</html>